/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);
  --bg-nav-mobile: hsla(240, 20%, 99%, 0.75);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}
/* hacer efecto dark */
body.dark{
  --bg-color: hsl(220, 18%, 10%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 100%);
  --text-color: hsl(220, 4%, 70%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 15%);
  --bg-nav-mobile: hsla(0, 0%, 2%, 0.85);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
a{
  text-decoration: none;
}
/* NAV */
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  z-index: 20;
  transition: 0.2s;
}
.nav-desktop{
  display: none;
}
.nav-scroll{
  background-color: var(--bg-color);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  transition: .4s;
}

.nav i{
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}
.nav-mobile{
  position: fixed;
  width: 80%;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 1rem;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  display: block;
  margin: auto;
  z-index: 20;
  background-color: var(--bg-nav-mobile);
  backdrop-filter: blur(5px);
}
.nav-mobile ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-mobile a{
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  color: var(--text-color);
  text-decoration: none;
}
.nav-mobile a i{
  font-size: 1.2rem;
}

/* HEADER */
.header{
  padding: 5rem 15px;
  background-color: var(--bg-color);
}
.header h1{
  margin-bottom: 20px;
}
.header__description a{
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: 0.3s;
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.header__description a:hover{
  gap: 7px;
}

.header__images{
  width: 90%;
  max-width: 350px;
  height: 390px;
  position: relative;
  margin: auto;
}
.header__images img:nth-child(1){
  width: 230px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);

}
.header__images img:nth-child(2){
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

/* MAIN */
.main{
  padding: 3rem 0;
  overflow: hidden;
}
.new{
  width: 78%;
  max-width: 300px;
  margin: auto;
}
.new h2{
  text-align: center;
  font-size: var(--h1-font-size);
  padding: 20px;
  font-weight: 600;
}
.new img{
  width: 100%;
  margin: auto;
}

.new-card{
  display: flex;
  flex-direction: column;
}
.new-card__description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.new-card__description h3{
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}
.new-card__description i{
  font-size: var(--h2-font-size);
}

.grid-1{
  grid-area: grid-1;
}
.grid-2{
  grid-area: grid-2;
}
.grid-3{
  grid-area: grid-3;
}
.grid-4{
  grid-area: grid-4;
}

.grid-1, .grid-3{
  padding: 20px;
}
.collection{
  width: 100%;
  padding: 5rem 0;
  margin: auto;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "grid-1 grid-2"
    "grid-4 grid-2"
    "grid-4 grid-3";
  gap: 20px;
}
.collection img{
  width: 100%;
  max-width: 220px;
}
.collection p{
  display: flex;
  align-items: center;
}
.collection span{
  margin-right: 5px;
}

.products{
  padding: 3rem 0;
}
.products h2{
  font-size: var(--h1-font-size);
  text-align: center;
  padding: 1rem 0 0;
}
.swiper img{
  width: 250px;
  margin-bottom: 15px;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  content: "";
  display: none;
}
.swiper-button-next, .swiper-button-prev{
  font-size: 2rem;
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  color: var(--title-color);
}
.swiper-button-prev{
  left: calc(50% - 5.5rem);
}
.swiper-button-next{
  right: calc(50% - 5.5rem);
}
.swiper-slide{
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-slide h3{
  margin-bottom: 5px;
}

.brands h2{
  font-size: var(--h1-font-size);
  text-align: center;
  font-weight: var(--font-semi-bold);
}
.brands__content div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.brands__content div img{
  width: 120px;
}
.brands__content div img:nth-child(2){
  margin-top: 15%;
}

.footer{
  display: flex;
  flex-direction: column;
  padding: 20px 40px 1rem 20px;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer div{
  margin-bottom: 20px;
}
.footer h2,h3{
  margin-bottom: 10px;
}
.footer i{
  font-size: 1.5rem;
  margin-right: 10px;
  color: var(--title-color);
}

.copy{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 6rem;
}

@media (min-width: 420px){
  .collection{
    padding: 5rem 5%;
    gap: 10px 30px;
  }
  .footer{
    padding: 20px 3rem;
  }
}
@media (min-width: 600px){
  .header__description{
    padding-left: 2rem;
  }
  .header__description h1{
    font-size: 35px;
  }
  .header__description p, a{
    font-size: 18px;
  }
  .collection{
    padding: 5rem 10%;
    gap: 10px 100px;
  }
  .collection h2{
    font-size: 30px;
  }
  .collection span{
    font-size: 18px;
  }
  .collection img{
    max-width: 300px;
  }
  .footer{
    margin-top: 3rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .flex{
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 900px){
  .nav-mobile{
    display: none;
  }
  .nav{
    padding: 0 35px;
  }
  .nav > i{
    display: none;
  }
  .nav-desktop{
    display: inline-block;
  }
  .nav-desktop ul{
    display: flex;
    list-style: none;
    align-items: center;
  }
  .nav-desktop ul li{
    padding: 9px 20px;
  }
  .nav-desktop ul li a{
    color: var(--title-color);
  }
  .nav-desktop ul li a:hover{
    text-decoration-color: var(--title-color) !important;
    text-decoration: underline;
  }
  .header{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }
  .header h1{
    font-size: 50px;
  }
  .header__images{
    margin: initial;
  }
  .new{
    max-width: 1050px;
    padding-bottom: 3rem;
  }
  .new__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }
  .collection{
    padding: 5rem 22%;
    gap: 10px 100px;
  }
  .brands h2{
    margin: 2rem;
    font-size: var(--h1-font-size);
    text-align: center;
    font-weight: var(--font-semi-bold);
  }
  .brands__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .brands__content div{
    gap: 40px;
  }
  .brands__content div img:nth-child(2){
    margin-top: 0;
  }
  .flex{
    width: 250px;
    flex-direction: row;
  }
}
@media (min-width: 1050px){
  .header{
    padding: 0 10%;
  }
  .header__images{
    max-width: 450px;
    height: 500px;
    margin: initial;
  }
  .header__images img:nth-child(1){
    width: 300px;
  }
  .header__images img:nth-child(2){
    width: 210px;
  }
  .flex{
    width: 350px;
  }
}
@media (min-width: 1200px){
  .header{
    padding: 0 13%;
  }
  .header__images{
    max-width: 500px;
    height: 530px;
  }
  .header__images img:nth-child(1){
    width: 320px;
  }
  .header__images img:nth-child(2){
    width: 240px;
  }
}