/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Lora', serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
a{
  text-decoration: none;
}
/* NAV */
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  z-index: 20;
  transition: 0.2s;
}
.nav-scroll{
  background-color: hsla(240, 20%, 99%, 0.75);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  transition: .4s;
}

.nav i{
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}
.nav-mobile{
  position: fixed;
  width: 80%;
  background-color: white;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 1rem;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  display: block;
  margin: auto;
  z-index: 20;
  background-color: hsla(240, 20%, 99%, 0.75);
  backdrop-filter: blur(5px);
}
.nav-mobile ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-mobile a{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  color: var(--text-color);
  text-decoration: none;
}
.nav-mobile a i{
  font-size: 1.3rem;
}

/* HEADER */
.header{
  padding: 5rem 15px;
  background-color: var(--bg-color);
}
.header h1{
  margin-bottom: 20px;
}
.header__description a{
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: 0.3s;
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.header__description a:hover{
  gap: 7px;
}

.header__images{
  width: 90%;
  height: 390px;
  margin: auto;
  position: relative;
}
.header__images img:nth-child(1){
  width: 230px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);

}
.header__images img:nth-child(2){
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}

/* MAIN */
.main{
  padding: 3rem 10px;
  overflow: hidden;
}
.new{
  width: 100%;
}
.new h2{
  text-align: center;
  font-size: var(--h1-font-size);
  padding: 20px;
  font-weight: 600;
}
.new img{
  width: 90%;
  display: block;
  margin: auto;
}